# Compiled class file
*.class

# Maven
/target/
#!.mvn/wrapper/maven-wrapper.jar
#.mvn/wrapper/maven-wrapper.properties

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# H2 Database
*.mv.db
*.trace.db

# Lombok
lombok.config

# Application properties (caso vá usar tokens/senhas depois)
# application.properties
